[mysqld] 
# 数据表默认时区 
default-time-zone='+08:00'
# 关闭DNS反向解析
skip-name-resolve
# 最大连接数及超时设置
max_connections=2000
wait_timeout=600 
interactive_timeout=600
# 开启错误日志
log-error=/var/log/mysql/error-log.log
# 开启查询日志
general_log=1
general_log_file=/var/log/mysql/general-log.log
# 开启慢查询日志
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-log.log
long_query_time=5